/* <RadMenu / Default> */
.RadMenu_MySkin .rmRootGroup,
.RadMenu_MySkin a.rmLink,
.RadMenu_MySkin .rmGroup .rmText,
.RadMenu_MySkin .rmVertical .rmText,
.RadMenu_MySkin .rmLeftArrow,
.RadMenu_MySkin .rmRightArrow,
.RadMenu_MySkin .rmTopArrow,
.RadMenu_MySkin .rmBottomArrow,
.RadMenu_MySkin .rmIcon {
  background-image: url('Menu/rmSprite.png');
  background-color: transparent; }

.RadMenu_MySkin .rmRootGroup {
  border: 1px solid #828282;
  background-repeat: repeat-x;
  background-position: 0 -408px;
  background-color: #e6e6e6; }

/* <Root items> */
.RadMenu_MySkin,
.RadMenu_MySkin a.rmLink {
  font: normal 12px/23px "Segoe UI", Arial, sans-serif;
  color: #000;
  text-decoration: none; }

.RadMenu_MySkin a.rmLink,
.RadMenu_MySkin a.rmDisabled,
.RadMenu_MySkin a.rmDisabled:hover {
  background-position: 0 -72px; }

.RadMenu_MySkin .rmFirst a.rmLink,
.RadMenu_MySkin .rmFirst a.rmLink:hover,
.RadMenu_MySkin .rmLast .rmText,
.RadMenu_MySkin .rmLast a.rmLink:hover .rmText,
.RadMenu_MySkin .rmVertical a.rmLink,
.RadMenu_MySkin .rmVertical .rmText {
  background-repeat: no-repeat;
  background-position: 0 500px; }

.RadMenu_MySkin .rmVertical .rmFirst,
.RadMenu_MySkin .rmVertical .rmLast {
  background: none; }

.RadMenu_MySkin a.rmLink:hover,
.RadMenu_MySkin a.rmFocused,
.RadMenu_MySkin a.rmSelected {
  background-color: #fff; }

.RadMenu_MySkin .rmHorizontal .rmRootLink span.rmText {
  display: inline;
  padding-left: 12px; }

.RadMenu_MySkin_rtl .rmRootLink span.rmText {
  padding-right: 12px; }

.RadMenu_MySkin_Context_rtl .rmRootLink span.rmText {
  padding-right: 28px; }

.RadMenu_MySkin .rmHorizontal a.rmRootLink {
  padding-left: 0; }

.RadMenu_MySkin_rtl a.rmRootLink {
  margin-left: 0;
  padding: 0; }

.RadMenu_MySkin .rmHorizontal .rmItem > a.rmRootLink {
  width: 100%; }

.RadMenu_MySkin ul.rmHorizontal .rmLeftImage {
  margin: 4px -4px 0 6px; }

.RadMenu_MySkin_rtl ul.rmHorizontal .rmLeftImage {
  margin: 4px 6px 0 -4px; }

.RadMenu_MySkin .rmVertical a.rmLink {
  padding-top: 1px;
  padding-bottom: 1px; }

.RadMenu_MySkin .rmVertical a.rmLink:hover,
.RadMenu_MySkin .rmVertical a.rmFocused,
.RadMenu_MySkin .rmVertical a.rmSelected,
.RadMenu_MySkin .rmVertical a.rmExpanded,
.RadMenu_MySkin .rmVertical a.rmExpanded:hover {
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-color: #828282;
  border-width: 1px 0; }

.RadMenu_MySkin .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_MySkin .rmVertical .rmFirst a.rmFocused,
.RadMenu_MySkin .rmVertical .rmFirst a.rmSelected,
.RadMenu_MySkin .rmVertical .rmFirst a.rmExpanded,
.RadMenu_MySkin .rmVertical .rmFirst a.rmExpanded:hover {
  padding-top: 1px;
  padding-bottom: 0;
  border-top-width: 0; }

.RadMenu_MySkin .rmVertical .rmLast a.rmLink:hover,
.RadMenu_MySkin .rmVertical .rmLast a.rmFocused,
.RadMenu_MySkin .rmVertical .rmLast a.rmSelected,
.RadMenu_MySkin .rmVertical .rmLast a.rmExpanded,
.RadMenu_MySkin .rmVertical .rmLast a.rmExpanded:hover {
  padding-bottom: 1px;
  padding-top: 0;
  border-bottom-width: 0; }

.RadMenu_MySkin .rmVertical .rmItem a.rmDisabled:hover {
  padding-top: 1px;
  padding-bottom: 1px;
  border-width: 0; }

.RadMenu_MySkin a.rmExpanded,
.RadMenu_MySkin a.rmExpanded:hover {
  background-color: #fff; }

.RadMenu_MySkin a.rmDisabled,
.RadMenu_MySkin a.rmDisabled:hover {
  color: #7d7d7d;
  background-color: transparent; }

/* </Root items> */
/* <Submenu items> */
.RadMenu_MySkin .rmGroup,
.RadMenu_MySkin .rmMultiColumn,
.RadMenu_MySkin .rmGroup .rmVertical {
  border: 1px solid #979797;
  background: white url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_MySkin .rmTopFix,
.RadMenu_MySkin .rmBottomFix,
.RadMenu_MySkin .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_MySkin .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_MySkin .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_MySkin .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_MySkin_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_MySkin_Context.rmRoundedCorners ul.rmHorizontal .rmFirst {
  background-image: url('Menu/rmVSprite.png');
  background-color: #fff;
  background-repeat: repeat-y; }

* html .rmRoundedCorners_Default .rmGroup .rmItem,
* html .rmRoundedCorners_Default ul.rmHorizontal .rmFirst {
  background-image: url('Menu/rmVSprite.png');
  background-color: #fff;
  background-repeat: repeat-y; }

.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_MySkin .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_MySkin .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_MySkin .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_MySkin .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_MySkin .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_MySkin_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrap .rmVertical {
  background-image: none; }

* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Default .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Default .rmHorizontal .rmItem,
* html .rmRoundedCorners_Default .rmScrollWrap .rmVertical {
  background-image: none; }

.RadMenu_MySkin .rmRoundedCorners .rmGroupColumn {
  background-color: #fff; }

.RadMenu_MySkin .rmBottomLeft,
.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_MySkin_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_MySkin .rmRoundedCorners ul.rmGroup,
.RadMenu_MySkin .rmRoundedCorners .rmMultiColumn {
  background-image: url('Menu/rmRoundedLeft.png');
  background-color: transparent;
  background-repeat: no-repeat; }

* html .rmRoundedCorners_Default .rmScrollWrapContainer,
* html .rmRoundedCorners_Default .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Default ul.rmGroup {
  background-image: url('Menu/rmRoundedLeft.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_MySkin .rmTopRight,
.RadMenu_MySkin .rmBottomRight {
  background-image: url('Menu/rmRoundedRight.png');
  background-color: transparent;
  background-repeat: no-repeat; }

.RadMenu_MySkin .rmTopFix,
.RadMenu_MySkin .rmBottomFix,
.RadMenu_MySkin .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_MySkin_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Default .rmGroup .rmFirst {
  border-color: #979797; }

.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix {
  background: #FFF; }

* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmBottomFix {
  background: #FFF; }

.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow {
  background-color: #FFF;
  border: 0; }

* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmRightArrow {
  background-color: #FFF;
  border: 0; }

.RadMenu_MySkin_rtl .rmBottomLeft,
.RadMenu_MySkin_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_MySkin_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_MySkin .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_MySkin_Context_rtl ul.rmGroup,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer {
  background-image: url('Menu/rmRoundedLeft_rtl.png'); }

.RadMenu_MySkin_rtl .rmTopRight,
.RadMenu_MySkin_rtl .rmBottomRight {
  background-image: url('Menu/rmRoundedRight_rtl.png'); }

.RadMenu_MySkin_rtl li.rmTopFix,
.RadMenu_MySkin_rtl li.rmBottomFix,
.RadMenu_MySkin_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_MySkin_Context_rtl .rmGroup .rmItem {
  background-position: 101% 0; }

.RadMenu_MySkin .rmSlide .rmScrollWrap {
  background-image: none; }

.RadMenu_MySkin_rtl .rmGroup,
.RadMenu_MySkin_rtl .rmMultiColumn,
.RadMenu_MySkin_rtl .rmGroup .rmVertical {
  background-position: 100% 0; }

.RadMenu_MySkin .rmRootGroup li.rmItem .rmGroup {
  padding-bottom: 0; }

.RadMenu_MySkin .rmRootGroup .rmHorizontal {
  background-image: none; }

.RadMenu_MySkin .rmScrollWrap .rmVertical {
  border: 0; }

.RadMenu_MySkin .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_MySkin_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Default .rmScrollWrapContainer li.rmItem {
  background: none; }

.RadMenu_MySkin .rmGroup .rmItem a.rmLink,
.RadMenu_MySkin .rmGroup .rmItem a.rmLink:hover,
.RadMenu_MySkin .rmGroup .rmItem a.rmFocused,
.RadMenu_MySkin .rmGroup .rmItem a.rmSelected,
.RadMenu_MySkin .rmGroup .rmItem a.rmExpanded {
  padding-top: 0;
  padding-bottom: 0;
  border: 0; }

.RadMenu_MySkin .rmGroup .rmLast a.rmLink,
.RadMenu_MySkin .rmGroup .rmLast a.rmLink:hover,
.RadMenu_MySkin .rmGroup .rmLast a.rmFocused,
.RadMenu_MySkin .rmGroup .rmLast a.rmSelected,
.RadMenu_MySkin .rmGroup .rmLast a.rmExpanded {
  padding-bottom: 1px; }

.RadMenu_MySkin .rmGroup a.rmLink,
.RadMenu_MySkin .rmGroup .rmText,
.RadMenu_MySkin .rmGroup .rmItem a.rmDisabled,
.RadMenu_MySkin .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_MySkin .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_MySkin .rmGroup .rmItem a.rmDisabled:hover .rmText {
  background-position: 0 500px;
  background-repeat: no-repeat;
  background-color: transparent; }

.RadMenu_MySkin .rmGroup a.rmLink:hover,
.RadMenu_MySkin .rmGroup a.rmFocused,
.RadMenu_MySkin .rmGroup a.rmSelected,
.RadMenu_MySkin .rmGroup a.rmExpanded {
  background-position: 0 -168px; }

.RadMenu_MySkin .rmGroup a.rmLink:hover .rmText,
.RadMenu_MySkin .rmGroup a.rmFocused .rmText,
.RadMenu_MySkin .rmGroup a.rmSelected .rmText,
.RadMenu_MySkin .rmGroup a.rmExpanded .rmText {
  background-position: 100% -192px; }

/* <expand arrows> */
.RadMenu_MySkin .rmRootGroup .rmExpandRight,
.RadMenu_MySkin .rmGroup .rmExpandDown,
.RadMenu_MySkin_Context .rmGroup .rmExpandRight,
.RadMenu_MySkin .rmRootGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_MySkin .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_MySkin .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_MySkin .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown {
  background-position: 100% -216px; }

.RadMenu_MySkin a.rmLink:hover .rmExpandRight,
.RadMenu_MySkin .rmLast a.rmLink:hover .rmExpandRight,
.RadMenu_MySkin a.rmFocused .rmExpandRight,
.RadMenu_MySkin a.rmSelected .rmExpandRight,
.RadMenu_MySkin a.rmExpanded .rmExpandRight {
  background-position: 100% -312px; }

.RadMenu_MySkin .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_MySkin .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_MySkin .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_MySkin .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_MySkin .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_MySkin .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_MySkin .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_MySkin .rmGroup a.rmExpanded .rmExpandDown {
  background-position: 100% -240px; }

.RadMenu_MySkin .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_MySkin .rmGroup a.rmDisabled:hover .rmExpandDown {
  background-image: url('Menu/rmSprite.png');
  background-position: 100% -216px; }

/* </expand arrows> */
/* <rtl> */
.RadMenu_MySkin_rtl a.rmLink,
.RadMenu_MySkin_rtl .rmRootGroup a.rmDisabled {
  background-position: 100% -96px; }

.RadMenu_MySkin_rtl .rmGroup a.rmDisabled {
  background: none; }

.RadMenu_MySkin_rtl .rmText {
  background-position: 0 -96px; }

.RadMenu_MySkin_rtl .rmVertical a.rmExpanded .rmText,
.RadMenu_MySkin_rtl .rmVertical a.rmExpanded:hover .rmText {
  background-position: 0 500px;
  background-repeat: no-repeat; }

.RadMenu_MySkin_rtl .rmGroup a.rmLink:hover,
.RadMenu_MySkin_rtl .rmGroup a.rmFocused,
.RadMenu_MySkin_rtl .rmGroup a.rmSelected,
.RadMenu_MySkin_rtl .rmGroup a.rmExpanded {
  background-position: 100% -264px; }

.RadMenu_MySkin_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_MySkin_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_MySkin_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_MySkin_rtl .rmGroup a.rmExpanded .rmText {
  background-position: 0 -288px; }

.RadMenu_MySkin_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_MySkin_rtl .rmRootGroup .rmExpandLeft {
  background-position: 0 -312px; }

.RadMenu_MySkin_rtl .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_MySkin_rtl .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_MySkin_rtl .rmVertical a.rmSelected .rmExpandLeft,
.RadMenu_MySkin_rtl .rmVertical a.rmExpanded .rmExpandLeft {
  background-position: 0 -216px; }

.RadMenu_MySkin_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_MySkin_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_MySkin_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_MySkin_rtl .rmGroup a.rmExpanded .rmExpandLeft {
  background-position: 0 -336px; }

.RadMenu_MySkin_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft {
  background-position: 0 -312px; }

/* </rtl> */
/* </Submenu items> */
/* <Submenu offsets (Default - specific, overlapping submenus)> */
.RadMenu_MySkin .rmSlide {
  margin: 0 0 0 -1px; }

.RadMenu_MySkin .rmVertical .rmSlide,
.RadMenu_MySkin .rmSlide .rmSlide,
.RadMenu_MySkin_Context .rmGroup .rmSlide {
  margin: 0 0 0 -5px; }

.RadMenu_MySkin_rtl .rmSlide {
  margin: 0 0 0 0; }

.RadMenu_MySkin_rtl .rmFirst .rmSlide {
  margin-left: 1px; }

.RadMenu_MySkin_rtl .rmVertical .rmSlide,
.RadMenu_MySkin_rtl .rmSlide .rmSlide,
.RadMenu_MySkin_Context_rtl .rmGroup .rmSlide {
  margin: 0 0 0 5px; }

/* </Submenu offsets> */
/* <Scrolling arrows> */
.RadMenu_MySkin .rmLeftArrow,
.RadMenu_MySkin .rmRightArrow {
  background-color: #E6E6E6; }

.RadMenu_MySkin .rmLeftArrow {
  background-position: -8px -312px;
  border-right: 1px solid #828282; }

.RadMenu_MySkin .rmRightArrow {
  background-position: -482px -216px;
  border-left: 1px solid #828282; }

.RadMenu_MySkin .rmTopArrow,
.RadMenu_MySkin .rmBottomArrow,
.RadMenu_MySkin .rmGroup .rmLeftArrow,
.RadMenu_MySkin .rmGroup .rmRightArrow {
  background-color: #E6E6E6; }

.RadMenu_MySkin .rmTopArrow {
  background-position: 50% -367px;
  border-bottom: 1px solid #828282; }

.RadMenu_MySkin .rmBottomArrow {
  background-position: 50% -391px;
  border-top: 1px solid #828282; }

/* </Scrolling arrows> */
/* <Separators> */
.RadMenu_MySkin .rmHorizontal .rmSeparator .rmText,
.RadMenu_MySkin .rmVertical .rmHorizontal .rmSeparator .rmText {
  height: 22px;
  margin: 1px 0 0;
  width: 1px;
  background-color: #A8A8A8; }

.RadMenu_MySkin_Context .rmSeparator .rmText,
.RadMenu_MySkin .rmHorizontal .rmGroup .rmSeparator .rmText {
  background-color: transparent;
  background-position: 0 -406px; }

.RadMenu_MySkin .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText {
  background-color: transparent;
  background-position: 0 -73px; }

/* </Separators> */
/* </RadMenu / Default> */
.RadMenu_MySkin .rmHorizontal .rmRootLink .rmIcon {
  background-image: url('Menu/rmSprite.png');
  background-position: 50% -388px; }

/*changes line height for the root menu items*/
.RadMenu_MySkin .rmHorizontal .rmRootLink span.rmText{
    font-size: 14px;
    height: 55px;
    padding: 35px 25px 0px 25px;
}

/*changes height for the child menu items */
.RadMenu .rmVertical .rmText, .RadMenu .rmHorizontal .rmVertical .rmText {
    xheight: 20px;
}
