<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VanLeeuwen.Projects.WebPortal.DataTransferService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataTransfer" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57526/DataTransfer.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IDataTransfer" contract="DataTransferService.IDataTransfer"
          name="BasicHttpBinding_IDataTransfer" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <VanLeeuwen.Projects.WebPortal.DataTransferService.Properties.Settings>
      <setting name="LocalQueuePath" serializeAs="String">
        <value>.\Private$\SimplestExamplePrivateQueue</value>
      </setting>
      <setting name="Logging" serializeAs="String">
        <value>D:\Test\Logs</value>
      </setting>
      <setting name="MaxQueueRetry" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TempFolder" serializeAs="String">
        <value>D:\Test\Temp</value>
      </setting>
      <setting name="QueueFolder" serializeAs="String">
        <value>D:\Test\Queue</value>
      </setting>
      <setting name="WatchFolder" serializeAs="String">
        <value>D:\Test\DataTransfer_Outbox</value>
      </setting>
      <setting name="InboxFolder" serializeAs="String">
        <value>D:\Test\DataTransfer_Inbox</value>
      </setting>
      <setting name="ProcessedFolder" serializeAs="String">
        <value>D:\Test\DataTransfer_Processed</value>
      </setting>
      <setting name="FailedFolder" serializeAs="String">
        <value>D:\Test\DataTransfer_Failed</value>
      </setting>
      <setting name="SAP_AppServerHost" serializeAs="String">
        <value>vlsrv25a</value>
      </setting>
      <setting name="SAP_SystemNumber" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="SAP_SystemID" serializeAs="String">
        <value>T22</value>
      </setting>
      <setting name="SAP_User" serializeAs="String">
        <value>BAPI_BEESD</value>
      </setting>
      <setting name="SAP_Password" serializeAs="String">
        <value>rfc%c&amp;ll</value>
      </setting>
      <setting name="SAP_Client" serializeAs="String">
        <value>400</value>
      </setting>
    </VanLeeuwen.Projects.WebPortal.DataTransferService.Properties.Settings>
  </applicationSettings>
</configuration>