<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataTransfer" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57526/DataTransfer.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IDataTransfer" contract="DataTransferService.IDataTransfer"
          name="BasicHttpBinding_IDataTransfer" />
    </client>
  </system.serviceModel>
    <applicationSettings>
        <TestApp.Properties.Settings>
            <setting name="LocalQueuePath" serializeAs="String">
                <value>.\Private$\SimplestExamplePrivateQueue</value>
            </setting>
            <setting name="WatchFolder" serializeAs="String">
                <value>D:\Test\Outbox</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>D:\Test\Logs</value>
            </setting>
            <setting name="MaxQueueRetry" serializeAs="String">
                <value>10</value>
            </setting>
        </TestApp.Properties.Settings>
    </applicationSettings>
</configuration>