<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VanLeeuwen.Projects.WebPortal.DataProcessorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="VanLeeuwen.Projects.WebPortal.DataAccess.Properties.Settings.PortalConnectionString" connectionString="Data Source=VLZWD038NB-VM1\MSSQL;Initial Catalog=Portal_PROD_2015-03-09;Persist Security Info=True;User ID=sa;Password=sbo500!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <VanLeeuwen.Projects.WebPortal.DataProcessorService.Properties.Settings>
      <setting name="SMTPServer" serializeAs="String">
        <value>vlsrv08.vanleeuwen.com</value>
      </setting>
      <setting name="Logging" serializeAs="String">
        <value>D:\Test\Logs</value>
      </setting>
      <setting name="XMLFailedRoot" serializeAs="String">
        <value>D:\Test\Failed</value>
      </setting>
      <setting name="XMLProcessedRoot" serializeAs="String">
        <value>D:\Test\Processed</value>
      </setting>
      <setting name="TempFolder" serializeAs="String">
        <value>D:\Test\Temp</value>
      </setting>
      <setting name="CompanyFilesRoot" serializeAs="String">
        <value>D:\Test\Files</value>
      </setting>
      <setting name="EmailEnabled" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="XMLInboxRoot" serializeAs="String">
        <value>D:\Test\DataProcessor_Inbox</value>
      </setting>
    </VanLeeuwen.Projects.WebPortal.DataProcessorService.Properties.Settings>
  </applicationSettings>
  <system.web>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="VanLeeuwen.Projects.WebPortal.DataAccess.Properties.Settings.PortalConnectionString" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="VanLeeuwen.Projects.WebPortal.DataAccess.Properties.Settings.PortalConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="VanLeeuwen.Projects.WebPortal.DataAccess.Properties.Settings.PortalConnectionString" applicationName="/" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>