<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VanLeeuwen.Projects.WebPortal.WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="VanLeeuwen.Projects.WebPortal.WebServices.DataTransferService">
        <endpoint address="http://localhost:57526/DataTransfer.svc" binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding" contract="VanLeeuwen.Projects.WebPortal.WebServices.IDataTransfer" name="EndPoint" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
      <binding name="basicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
      </binding>
      </basicHttpBinding>
    </bindings>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <applicationSettings>
    <VanLeeuwen.Projects.WebPortal.WebServices.Properties.Settings>
      <setting name="XMLReceiveFolder" serializeAs="String">
        <value>D:\Test</value>
      </setting>
      <setting name="XMLInboxRoot" serializeAs="String">
        <value>D:\Test\DataProcessor_Inbox</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>D:\Test\Log</value>
      </setting>
      <setting name="XMLOutboxRoot" serializeAs="String">
        <value>D:\Test\DataProcessor_Outbox</value>
      </setting>
    </VanLeeuwen.Projects.WebPortal.WebServices.Properties.Settings>
  </applicationSettings>
</configuration>
